 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Professional designer seeking a position that allows me to further my passion of creating meaningful experiences through design.</p>
                </div>
                <div class="col-lg-4">
                    <p>This site contains a small collection of work for portfolio purposes. Please feel free to reach out for more details. </p>
                </div>
            </div>
        </div>
    </section>
